<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
    </div>
    <h5 (click)="changeLang()" class="change-lang">{{'translate'|translate}}</h5>
    <br/>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" *ngFor="let child of menu">
      <li nz-menu-item [routerLink]="child.link" *ngIf="!child.children" [nzSelected]="child.selected">
        <span><i class="anticon {{child.icon}}"></i><span class="nav-text">{{ (child.text | translate) || child.translate }}</span></span>
      </li>
      <li nz-submenu *ngIf="child.children" [nzOpen]="child.selected">
        <span title><i class="anticon {{child.icon}}"></i><span class="nav-text">{{ (child.text | translate) || child.translate }}</span></span>
        <ul *ngFor="let item of child.children">
        <li [routerLink]="item.link" [nzSelected]="item.selected" nz-menu-item>{{ (item.text | translate) || item.translate }}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <div style="padding:24px; background: #fff; min-height: 750px; min-width: 800px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
